body {
	font-family: 'Roboto', Serif;
}

a {
	text-decoration: none;
	color: black;
}

.home-nav-link {
	margin-left: 925px;
	
}

.nav-link-2 {
	margin-left: 50px;
}

.nav-link-3 {
	margin-left: 50px;
}

.navbar {
	border-bottom: #e6e6e6 solid 1px;
}

.nav-link {
	font-weight: 700;
}

.header {
	text-align: center;
	font-family: 'Roboto', Serif;
	text-decoration-line: underline;
 	text-decoration-style: wavy;
  	text-decoration-color: purple;
}

h3 {
	margin-left: 5px;
	font-size: 24px;
}

img {
	float: right;
}

p {
	font-family: 'Roboto', Serif;
	margin-left: 5px;
	font-size: 18.5px;
}

.img-1 {
	width: 400px;
	height: 200px;
}

li {
	margin-bottom: 5px;
	font-family: 'Roboto', Serif;
}
